#about-me {
  padding-top: 6rem;
}

#achievements {
  padding-top: 6vw;
  padding-bottom: 6vw;
}

.desk-angle-1 {
  background-image: url('/images/Workspace.png');
  width: 100%;
  /* height: 2000px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 10vh;
  opacity: 70%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
}

.avatar {
  width: 90%;
  display: block;
  pointer-events: none;
}

.logo-tools {
  width: 6vh;
  display: block;
  pointer-events: none;
}

.certificate {
  width: 30vh;
  display: block;
  pointer-events: none;
}

#fullName {
  font-family: 'oswald_bold';
  font-size: calc(3vw + 2.5vh) !important;
}

.image-container {
  position: relative;
  width: 100%;
  /* margin: 0 auto; */
}

/*
    https://bootstrapclasses.com/can-adjust-text-size-bootstrap-responsive-design/
  */
.text-overlay {
  bottom: 0;
  width: 100%;
  font-size: calc(5vw + 2.5vh) !important;
  font-family: 'oswald_bold';
}

#scroll-text {
  overflow: hidden;
}

.branding-text > p {
  font-family: 'oswald_bold';
  color: #e15735;
}

.wrapper {
  max-width: 100%;
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 20s linear infinite;
}

.marquee p {
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.title-achievements {
  font-family: 'oswald_bold';
}
.achievements-count {
  font-family: 'oswald_bold';
  color: #e15735;
  font-size: calc(10vw + 10vh);
}
.show-reel {
  opacity: 50%;
  /* width: calc() */
}

@media (max-width: 766px) {
  #nameHeader {
    text-align: center !important;
  }
  .text-overlay {
    bottom: 0;
    width: 100%;
    font-size: calc(11vw + 2.5vh) !important;
  }
  #fullName {
    font-size: calc(10vw + 2.5vh) !important;
  }
  .achievements-description {
    margin-bottom: 10vw;
  }
  .show-reel {
    margin-bottom: 10vw;
  }
}
