@font-face {
  font-family: 'teachers_regular';

  src: url('/fonts/Teachers-Regular.ttf');
}

@font-face {
  font-family: 'teachers_extra_bold';

  src: url('/fonts/Teachers-ExtraBold.ttf');
}

@font-face {
  font-family: 'oswald_bold';

  src: url('/fonts/Oswald-Bold.ttf');
}

@font-face {
  font-family: 'oswald_regular';

  src: url('/fonts/Oswald-Regular.ttf');
}

@font-face {
  font-family: 'redditsans_regular';

  src: url('/fonts/RedditSans-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  font-family: 'teachers_regular';
}

.avatar-shadow {
  width: 60vh;
  display: block;
  opacity: 0.6;
  overflow: hidden;
  z-index: 5;
  margin-right: 50px;
}

.nav-bar {
  border-bottom: 3px solid rgb(255, 255, 255);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.75s ease-out;
}

.slide-enter-to {
  position: absolute;
  right: 0;
}

.slide-enter-from {
  position: absolute;
  right: -100%;
}

.slide-leave-to {
  position: absolute;
  left: -100%;
}

.slide-leave-from {
  position: absolute;
  left: 0;
}

#footer-block {
  background: rgb(191, 192, 192);
  width: 100%;
}

@media (max-width: 767px) {
  .before-header {
    padding-top: 10vw;
  }
}

@media (max-width: 768px) {
  .d-md-block {
    display: block;
  }

  .d-md-none {
    display: none;
  }
}
