.footer-bg {
  background-image: url('/images/Background_Grid.jpg');
  width: 100%;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-img {
  min-width: 30vh;
  max-width: 25%;
}

.footer-info-block {
  padding-top: 10vw;
}

@media (min-width: 768px) {
  .slogan-top {
    display: flex !important;
    width: 70%;
    padding-top: 5vw;
  }
  .slogan-bottom {
    display: flex !important;
    width: 70%;
    padding-top: 5vw;
    bottom: 40%;
  }
}

@media (min-width: 325px) {
  .responsive-icon-white {
    display: none !important;
  }
  .responsive-icon-black {
    display: flex !important;
  }
}

.info-btn {
  bottom: 10%;
}

.contact-info-block {
  width: 80%;
}

.slogan-text {
  font-family: 'oswald_bold';
}

.copyright {
  font-family: 'oswald_regular';
  font-size: calc(10px + 1vw);
}

.gif-slogan {
  width: 15vw;
}

.invert-color-icon {
  filter: invert();
}

.icon-contact {
  width: calc(30px + 3vw);
  padding-bottom: 50px;
}
