#logo-home-page {
  width: 80px;
}

#menu-icon {
  width: 45px;
}

#header-links a {
  font-family: 'oswald_light';
  color: #000000;
}

@font-face {
  font-family: 'oswald_light';
  src: url('/fonts/Oswald-Light.ttf');
}

#header-block {
  background-color: #d9d9d9;
  width: 100%;
}

#get-in-touch {
  background: #e15735;
  color: #ffffff;
}
.w3-button {
  width: 100%;
}
.sidebar-navigation {
  overflow: auto;
  background-color: #d9d9d9;
  z-index: 3;
  width: 100%;
  height: 100%;
  position: fixed;
}
.sidebar-content {
  height: 100%;
  display: flex;
  justify-content: center;
  right: 0;
  position: fixed;
  width: 50%;
  padding-top: 5rem;
  align-items: center;
}
.menu-mobile-bg {
  background: url('/images/Footer-resize.png');
  position: fixed;
  width: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}
.sidebar-block .sidebar-item {
  width: 100% !important;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}
.fixed-header {
  position: fixed;
  background-color: #d9d9d9;
  height: 80px !important;
  width: 100%;
}
#fixedHeader {
  z-index: 4;
}
.header-sp {
  height: 80px;
}
.close-circle-icon {
  filter: invert();
  width: 15%;
}
.fixed-header-text a {
  font-family: 'oswald_regular';
  font-size: 20px;
  color: #000000 !important;
}
