#logo-home-page {
  width: 80px;
}

#menu-icon {
  width: 45px;
}

#header-links a {
  font-family: 'oswald_light';
  color: #000000;
}

@font-face {
  font-family: 'oswald_light';
  src: url('/fonts/Oswald-Light.ttf');
}

#header-block {
  background-color: #d9d9d9;
  width: 100%;
}

#get-in-touch {
  background: #e15735;
  color: #ffffff;
}
.w3-button {
  width: 100%;
}
.sidebar-navigation {
  overflow: auto;
  background-color: #d9d9d9;
  z-index: 3;
  width: 100%;
  right: 0;
}
.sidebar-block .sidebar-item {
  width: 100% !important;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}
.fixed-header {
  position: fixed;
  background-color: #d9d9d9;
  height: 80px !important;
  width: 100%;
}
#fixedHeader {
  z-index: 4;
}
.header-sp {
  height: 80px;
}
.close-circle-icon {
  filter: invert();
  width: 15%;
}
.fixed-header-text a {
  font-family: 'teachers_regular';
  color: #000000 !important;
}
