.workspace {
  width: 100%;
  background-image: url('/images/Workspace.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.my-works {
  font-family: 'oswald_bold';
  font-size: 110px;
}

.works-header a {
  font-family: 'oswald_regular';
}

.workspace .container {
  padding: calc(12vw + 5vh) 2rem;
}

@media (max-width: 768px) {
    .my-works {
        font-size: 50px;
    }
}

@media (max-width: 1000px) {
    .my-works {
        font-size: 70px;
    }
}