/* Showreel */
.showreel {
  background-image: url('/images/MyWorks/ShowReel.png');
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#challenge-objective {
  background-image: url('/images/MyWorks/ChallengeWorks_dim.png');
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Tutorial */
.tutorial-bg {
  background-image: url('/images/MyWorks/TutorialBgFull.png');
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#tutorial-challenge-objective {
  background-image: url('/images/MyWorks/TutorialBgBusiness.png');
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tutorial-challenge-editing {
  background-image: url('/images/MyWorks/TutorialBgFullDim.png');
  background-color: #000000;
  background-position: right 0% bottom 58%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Tutorial */
.podcast-bg {
  background-image: url('/images/MyWorks/PodcastHighlightBgDim.png');
  background-color: #000000;
  background-position: right 0% bottom -50%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Documentary */
.documentary-bg {
  background-image: url('/images/MyWorks/DocumentaryBgDim.png');
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* TVC Video */
.tvc-bg {
  background-image: url('/images/MyWorks/TVCBgDim.png');
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* K.O.P Video */
.kop-bg {
  background-image: url('/images/MyWorks/KOPVideoBgDim.png');
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Short Video */
.short-video-bg {
  background-image: url('/images/MyWorks/ShortVideoBgDim.png');
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.work-block {
  padding: 6vw 0 0;
}

#title-works {
  /* padding: 20vw 0 0; */
  height: 60%;
  align-items: end;
  display: flex;
}

#title-works span {
  color: #ffffff;
  font-size: 80px !important;
}

#title-works span,
#my-background-title span,
#video-type span,
#editing-style span,
#mood-tone span,
#platform span,
#my-role-title span {
  font-family: 'oswald_bold';
  font-size: 50px;
}

#my-background-title span,
#my-role-title span {
  text-transform: uppercase;
}

.description-work-last,
.description-work {
  background-color: #e15735;
  color: white;
  padding: 6vw 0 6vw;
  height: 40%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.my-background-block div span a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'teachers_extra_bold';
}

#my-background-description span,
#my-role-description span {
  font-size: 20px;
}

.challenge-objective-block {
  color: white;
  padding: 6vw 0 6vw;
  height: 40%;
  display: grid;
  align-items: center;
}

.editing-work-block {
  height: 100%;
  align-items: end;
  display: grid;
}

#video-showreel-block {
  height: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#video-showreel-block img {
  margin-top: 50px;
}

.business-obj-img-size {
  width: 70%;
}

@media (max-width: 900px) {
  #title-works span {
    font-size: 50px !important;
  }
  #my-background-title span,
  #video-type span,
  #editing-style span,
  #mood-tone span,
  #platform span,
  #my-role-title span {
    font-size: 30px !important;
  }
  #my-background-description span,
  #my-role-description span {
    font-size: 15px;
  }
  .podcast-bg {
    background-position: center;
  }
}

@media (max-width: 646px) {
  .showreel-work {
    padding: 20vh 2vh 20vh;
  }
  .challenge-objective-block {
    display: grid;
    align-items: start !important;
  }
  .description-work-last {
    display: grid;
    align-items: start !important;
  }
}

@media (max-width: 450px) {
  .showreel-work {
    padding: 20vh 2vh 30vh;
  }
  #video-showreel-block {
    height: 60%;
    display: grid;
    align-items: center;
  }
  .tutorial-challenge-editing {
    background-position: center;
  }
  .business-obj-img-size {
    width: 100%;
  }
  .podcast-bg {
    background-position: bottom;
  }
  .documentary-bg {
    background-position: top 0% right 30%;
  }
}
